// Microsoft Visual C++ generated resource script.
//
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON_MAIN    ICON    "PolyFit.ico"

